@import 'tailwindcss';
/* #3498db */
html {
  scroll-behavior: smooth;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
}

.blogContent {
  line-height: 1.75;
  font-size: 1rem;
}

.blogTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.BlueBG {
  background: linear-gradient(to bottom right, #1e3a8a, #2563eb);
}

.homeHero {
  background-image: url('../public/holidayAssets/IMG-20250824-WA0011.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
